# Data Preprocessing

The goal of this lab is to introduce you to data preprocessing techniques in order to make your data suitable for applying a learning algorithm.

## 1. Handling Missing Values

A common (and very unfortunate) data property is the ocurrence of missing and erroneous values in multiple features in datasets. For this exercise we will be using a data set about abalone snails.
The data set is contained in the Zip file you downloaded from Moodle (abalone.csv).

To determine the age of a abalone snail you have to kill the snail and count the annual
rings. You are told to estimate the age of a snail on the basis of the following attributes:
1. type: male (0), female (1) and infant (2)
2. length in mm
3. width in mm
4. height in mm
5. total weight in grams
6. weight of the meat in grams
7. drained weight in grams
8. weight of the shell in grams
9. number of annual rings (number of rings +1, 5 yields age)

However, the data is incomplete. Missing values are marked with âˆ’1.

In [2]:
import pandas as pd
# load data 
df = pd.read_csv("http://www.cs.uni-potsdam.de/ml/teaching/ss15/ida/uebung02/abalone.csv") #Should this not work please use the csv that was part of the zip file.
df.columns=['type','length','width','height','total_weight','meat_weight','drained_weight','shell_weight','num_rings']
df.head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,-1
1,1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,2,-1.000,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,2,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

In [3]:
import numpy as np

# df_nan = df.drop(columns='type')
df_nan = df.replace(-1,np.NaN)
df_nan.head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0.0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,NaN
1,1.0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9.0
2,0.0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10.0
3,2.0,NaN,0.255,0.080,0.2050,0.0895,0.0395,0.055,7.0
4,2.0,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8.0

### Exercise 1.1

Compute the mean of of each numeric column and the counts of each categorical column, excluding the missing values.

In [4]:
df_drop = df_nan.dropna(axis=0)
df_drop.describe()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
count,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000
mean,0.955671,0.523445,0.407424,0.139467,0.826354,0.358718,0.179689,0.238330,9.925099
std,0.833652,0.120243,0.099358,0.042613,0.487932,0.220866,0.108907,0.139079,3.227777
min,0.000000,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.000000,0.450000,0.350000,0.115000,0.440500,0.186000,0.092500,0.130000,8.000000
50%,1.000000,0.545000,0.425000,0.140000,0.802500,0.338500,0.171000,0.235000,9.000000
75%,2.000000,0.615000,0.480000,0.165000,1.145000,0.500500,0.251750,0.325000,11.000000
max,2.000000,0.815000,0.650000,1.130000,2.825500,1.351000,0.760000,1.005000,29.000000

### Exercise 1.2

Compute the median of each numeric column,  excluding the missing values.

In [5]:
df_drop.iloc[:,1:].median()

length            0.5450
width             0.4250
height            0.1400
total_weight      0.8025
meat_weight       0.3385
drained_weight    0.1710
shell_weight      0.2350
num_rings         9.0000
dtype: float64

### Exercise 1.3

Handle the missing values in a way that you find suitable. Think about different ways. Discuss dis-/advantages of your approach. Argue your choices.

In [6]:
df_mean = df_nan.fillna(df_nan.mean())
df_mean.head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0.0,0.350000,0.265,0.090,0.2255,0.0995,0.0485,0.070,9.921756
1,1.0,0.530000,0.420,0.135,0.6770,0.2565,0.1415,0.210,9.000000
2,0.0,0.440000,0.365,0.125,0.5160,0.2155,0.1140,0.155,10.000000
3,2.0,0.523692,0.255,0.080,0.2050,0.0895,0.0395,0.055,7.000000
4,2.0,0.425000,0.300,0.095,0.3515,0.1410,0.0775,0.120,8.000000

### Exercise 1.4

Perform Z-score normalization on every column (except the type of course!)

In [7]:
df_z = df_mean
df_z.iloc[:,1:] = (df_z.iloc[:,1:] - df_z.iloc[:,1:].mean()) / df_z.iloc[:,1:].std() # .iloc[:,1:] excluding type
df_z.head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0.0,-1.465927,-1.461399,-1.207063,-1.248081,-1.184826,-1.221122,-1.226923,-5.570299e-16
1,1.0,0.053238,0.123130,-0.112168,-0.314104,-0.468720,-0.359144,-0.208153,-2.890442e-01
2,0.0,-0.706344,-0.439122,-0.355478,-0.647150,-0.655729,-0.614030,-0.608384,2.453569e-02
3,2.0,0.000000,-1.563627,-1.450374,-1.290487,-1.230438,-1.304539,-1.336077,-9.162041e-01
4,2.0,-0.832941,-1.103602,-1.085408,-0.987436,-0.995537,-0.952333,-0.863076,-6.026242e-01

## 2. Preprocessing text (Optional)

One possible way to transform text documents into vectors of numeric attributes is to use the TF-IDF representation. We will experiment with this representation using the 20 Newsgroup data set. The data set contains postings on 20 different topics. The classification problem is to decide which of the topics a posting falls into. Here, we will only consider postings about medicine and space.

In [8]:
from sklearn.datasets import fetch_20newsgroups

categories = ['sci.med', 'sci.space']
raw_data = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)
print(f'The index of each category is: {[(i,target) for i,target in enumerate(raw_data.target_names)]}')

The index of each category is: [(0, 'sci.med'), (1, 'sci.space')]

Check out some of the postings, might find some funny ones!

In [9]:
import numpy as np

idx = np.random.randint(0, len(raw_data.data))
print (f'This is a {raw_data.target_names[raw_data.target[idx]]} email.\n')
print (f'There are {len(raw_data.data)} emails.\n')
print(raw_data.data[idx])

This is a sci.space email.

There are 1187 emails.

From: pgf@srl02.cacs.usl.edu (Phil G. Fraering)
Subject: Re: PLANETS STILL: IMAGES ORBIT BY ETHER TWIST
Organization: Univ. of Southwestern Louisiana
Lines: 8

The only ether I see here is the stuff you must
have been breathing before you posted...

--
Phil Fraering         |"Seems like every day we find out all sorts of stuff.
pgf@srl02.cacs.usl.edu|Like how the ancient Mayans had televison." Repo Man

Lets pick the first 10 postings from each category

In [10]:
idxs_med = np.flatnonzero(raw_data.target == 0)
idxs_space = np.flatnonzero(raw_data.target == 1)
idxs = np.concatenate([idxs_med[:10],idxs_space[:10]])
data = np.array(raw_data.data)
data = data[idxs]

<a href="http://www.nltk.org/">NLTK</a> is a toolkit for natural language processing. Take some time to install it and go through this <a href="http://www.slideshare.net/japerk/nltk-in-20-minutes">short tutorial/presentation</a>. (or use e.g. Google colab where the package is prepared already)

The downloaded package below is a tokenizer that divides a text into a list of sentences, by using an unsupervised algorithm to build a model for abbreviation words, collocations, and words that start sentences.

In [11]:
import nltk
import itertools
nltk.download('punkt')

# Tokenize the sentences into words
tokenized_sentences = [nltk.word_tokenize(sent) for sent in data]
vocabulary_size = 1000
unknown_token = 'unknown'

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/melissathephasdin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [12]:
# Count the word frequencies
word_freq = nltk.FreqDist(itertools.chain(*tokenized_sentences))
print (f"Found {len(word_freq.items())} unique words tokens.")

Found 1636 unique words tokens.

In [13]:
# Get the most common words and build index_to_word and word_to_index vectors
vocab = word_freq.most_common(vocabulary_size-1)
index_to_word = [x[0] for x in vocab]
index_to_word.append(unknown_token)
word_to_index = dict([(w,i) for i,w in enumerate(index_to_word)])
 
print (f"Using vocabulary size {vocabulary_size}." )
print (f"The least frequent word in our vocabulary is '{vocab[-1][0]}' and appeared {vocab[-1][1]} times.")

Using vocabulary size 1000.
The least frequent word in our vocabulary is 'AN' and appeared 1 times.

In [14]:
data

array(['From: geb@cs.pitt.edu (Gordon Banks)\nSubject: Re: Striato Nigral Degeneration\nReply-To: geb@cs.pitt.edu (Gordon Banks)\nOrganization: Univ. of Pittsburgh Computer Science\nLines: 16\n\nIn article <9303252134.AA09923@walrus.mvhs.edu> ktodd@walrus.mvhs.edu ((Ken Todd)) writes:\n>I would like any information available on this rare disease.  I understand\n>that an operation referred to as POLLIDOTOMY may be in order.  Does anyone\n>know of a physician that performs this procedure.  All responses will be\n>appreciated.  Please respond via email to ktodd@walrus.mvhs.edu\n\nIt isn\'t that rare, actually.  Many cases that are called Parkinson\'s\nDisease turn out on autopsy to be SND.  It should be suspected in any\ncase of Parkinsonism without tremor and which does not respond to\nL-dopa therapy.  I don\'t believe pallidotomy will do much for SND.\n\n-- \n----------------------------------------------------------------------------\nGordon Banks  N3JXP      | "Skepticism is the chastity of the intellect, and\ngeb@cadre.dsl.pitt.edu   |  it is shameful to surrender it too soon." \n----------------------------------------------------------------------------\n',
       "From: ab961@Freenet.carleton.ca (Robert Allison)\nSubject: Frequent nosebleeds\nReply-To: ab961@Freenet.carleton.ca (Robert Allison)\nOrganization: The National Capital Freenet\nLines: 18\n\n\nI have between 15 and 25 nosebleeds each week, as a result of a genetic\npredisposition to weak capillary walls (Osler-Weber-Rendu). Fortunately,\neach nosebleed is of short duration.\n\nDoes anyone know of any method to reduce this frequency? My younger brothers\neach tried a skin transplant (thigh to nose lining), but their nosebleeds\nsoon returned. I've seen a reference to an herb called Rutin that is\nsupposed to help, and I'd like to hear of experiences with it, or other\ntechniques.\n-- \nRobert Allison\nOttawa, Ontario CANADA\n",
       'From: rind@enterprise.bih.harvard.edu (David Rind)\nSubject: Re: erythromycin\nOrganization: Beth Israel Hospital, Harvard Medical School, Boston Mass., USA\nLines: 11\nNNTP-Posting-Host: enterprise.bih.harvard.edu\n\nIn article <47974@sdcc12.ucsd.edu> wsun@jeeves.ucsd.edu (Fiberman) writes:\n>Is erythromycin effective in treating pneumonia?\n\nIt depends on the cause of the pneumonia.  For treating bacterial\npneumonia in young otherwise-healthy non-smokers, erythromycin\nis usually considered the antibiotic of choice, since it covers\nthe two most-common pathogens: strep pneumoniae and mycoplasma\npneumoniae.\n-- \nDavid Rind\nrind@enterprise.bih.harvard.edu\n',
       "From: uabdpo.dpo.uab.edu!gila005 (Stephen Holland)\nSubject: Re: diet for Crohn's (IBD)\nOrganization: Gastroenterology - Univ. of Alabama\nDistribution: usa\nLines: 81\n\nSummary of thread:\nA person has Crohns, raw vegetables cause problems (unspecified)\nSteve Holland replies:  patient may have mild obstruction.  Avoid things\nthat would plug her up.  Crohn's has no dietary restriction in general.\n\nIn article <1993Apr22.210631.13300@aio.jsc.nasa.gov>,\nspenser@fudd.jsc.nasa.gov (S. Spenser Aden) wrote:\n> \n> Interesting statements, simply because I have been told otherwise.  I'm\n> certainly not questioning Steve's claims, as for one I am not a doctor, and I\n> agree that foods don't bring on the recurrence of Crohn's.  But inflammation\n> can be either mildly or DRASTICALLY enhanced due to food.\n\nThe feeling obout this has changed in the GI community.  The current\nfeeling\nis that inflammation is not induced by food.  There is even evidence that\npatients deprived of food have mucosal atrophy due to lack of stimulation\nof\nintestinal growth factors.  There is now interest in providing small\namounts\nof nasogastric feeding to patients on IV nutrition.  But I digress.  \nSymptoms can be drastically enhanced by food, but not inflammation.\n\n> Having had one major obstruction resulting in resection (is that a good enough\n> caveat :-), I was told that a *LOW RESIDUE* diet is called for.  Basically,\n> the idea is that if there is inflammation of the gut (which may not be\n> realized by the patient), any residue in the system can be caught in the folds\n> of inflammation and constantly irritate, thus exacerbating the problem.\n> Therefore, anything that doesn't digest completely by the point of common\n> inflammation should be avoided.  With what I've been told is typical Crohn's,\n> of the terminal ileum, my diet should be low residue, consisting of:\n>\n> Completely out - never again - items:\n> \to corn (kernel husk doesn't digest ... most of us know this :-)\n> \to popcorn (same)\n> \to dried (dehydrated) fruit and fruit skins\n> \to nuts (Very tough when it comes to giving up some fudge :-)\n\nThe low residue diet is appropriate for you if you still have obstructions.\nAgain, it is not felt that food causes inflammation.  These foods are\navoided because they may get stuck.  I'd go ahead and have the\nfudge, though ;-)  .\n\n> Discouraged greatly:\n> \to raw vegetables (too fibrous)\n> \to wheat and raw grain breads\n> \to exotic lettuce (iceberg is ok since it's apparently mostly water)\n> \to greens (turnip, mustard, kale, etc...)\n> \to little seeds, like sesame (try getting an Arby's without it!)\n> \to long grain and wild rice (husky)\n> \to beans (you'll generate enough gas alone without them!)\n> \to BASICALLY anything that requires heavy digestive processing\n> \n> I was told that the more processed the food the better! (rather ironic in this\n> day and age).  The whole point is PREVENTATIVE ... you want to give your\n> system as little chance to inflame as possible.  I was told that among the\n> NUMEROUS things that were heavily discouraged (I only listed a few), to try\n> the ones I wanted and see how I felt.  If it's bad, don't do it again!\n> Remember though that this was while I was in remission.  For Veggies: cook the\n> daylights out of them.  I prefer steaming ... I think it's cooks more\n> thoroughly - you're mileage may vary.\n> \n> As with anything else, CHECK WITH YOUR DOCTOR.  Don't just take my word.  But\n> this is the info I've been given, and it may be a starting point for\n> discussion.  Good luck!\n> \nSpencer makes an especially good point in having an observant and\ninformed patient.  Would that many patients be able to tell what\ncauses them problems.  The digestive processing idea is changing, but\nif a food causes problems, avoid them.  Be sure that the foods are \ntested a second time to be sure the food is a real cause.  Crohn's\ncommonly causes intermittent symptoms and some patients end up with\nseverly restricted diets that take months to renormalize.\n\nThere was a good article in the CCFA newsletter recently that discussed\nthe issue of dietary restriction of fiber.  It would be worth reading\nto anyone with an interest in Crohn's.\n\nAnd, as I always say when dealing with Crohn's, as does Spencer, Good Luck!\n\nSteve Holland\n",
       'From: dyer@spdcc.com (Steve Dyer)\nSubject: Re: food-related seizures?\nOrganization: S.P. Dyer Computer Consulting, Cambridge MA\nLines: 18\n\nIn article <79727@cup.portal.com> mmm@cup.portal.com (Mark Robert Thorson) writes:\n>I remember hearing a few years back about a new therapy for hyperactivity\n>which involved aggressively eliminating artificial coloring and flavoring\n>from the diet.  The theory -- which was backed up by interesting anecdotal\n>results -- is that certain people are just way more sensitive to these\n>chemicals than other people.  I don\'t remember any connection being made\n>with seizures, but it certainly couldn\'t hurt to try an all-natural diet.\n\nYeah, the "Feingold Diet" is a load of crap.  Children diagnosed with ADD\nwho are placed on this diet show no improvement in their intellectual and\nsocial skills, which in fact continue to decline.  Of course, the parents\nwho are enthusiastic about this approach lap it up at the expense of their\nchildren\'s development.  So much for the value of "interesting anecdotal\nresults".  People will believe anything if they want to.\n\n-- \nSteve Dyer\ndyer@ursa-major.spdcc.com aka {ima,harvard,rayssd,linus,m2c}!spdcc!dyer\n',
       'From: Mark-Tarbell@suite.com\nSubject: Amniocentesis, et. al.\nOrganization: Suite Software\nLines: 7\nReply-To: suite!tarbell@uunet.uu.net\nNNTP-Posting-Host: gilgamesh.suite.com\n\nIs there some difference between the purposes behind\namniocentesis and chorionic villi sampling? They sound\nsimilar to me, but are intended to detect different\nthings?\n\nThanks.\n\x03\n',
       "From: mmatusev@radford.vak12ed.edu (Melissa N. Matusevich)\nSubject: Re: HELP ME INJECT...\nOrganization: Virginia's Public Education Network (Radford)\nLines: 5\n\nAccording to a previous poster, one should seek a doctor's\nassistance for injections. But what about Sumatriptin [sp?]?\nDoesn't one have to inject oneself immediately upon the onset\nof a migraine?\n\n",
       'From: hbloom@moose.uvm.edu (*Heather*)\nSubject: re: what are the problems with nutrasweet (aspartame)\nOrganization: University of Vermont -- Division of EMBA Computer Facility\nLines: 21\n\nNutrasweet is a synthetic sweetener a couple thousand times sweeter than\nsugar.  Some people are concerned about the chemicals that the  body produces \nwhen it degrades nutrasweet.  It is thought to form formaldehyde and known to\nfor methanol in the degredation pathway that the body uses to eliminate \nsubstances.  The real issue is whether the levels of methanol and formaldehyde\nproduced are high enough to cause significant damage, as both are toxic to\nliving cells.  All I can say is that I will not consume it.  \n\nPhenylalanine is\nnothing for you to worry about.  It is an amino acid, and everyone uses small\nquantities of it for protein synthesis in the body.  Some people have a disease\nknown as phenylketoneurea, and they are missing the enzyme necessary to \ndegrade this compound and eliminate it from the body.  For them, it will \naccumulate in the body, and in high levels this is toxic to growing nerve\ncells.  Therefore, it is Only a major problem in young children (until around\nage 10 or so) or women who are pregnant and have this disorder.  It used to\nbe a leading cause of brain damage in infants, but now it can be easily \ndetected at birth, and then one must simply avoid comsumption of phenylalanine\nas a child, or when pregnant.  \n\n-heather\n',
       "From: lundby@rtsg.mot.com (Walter F. Lundby)\nSubject: Re: Is MSG sensitivity superstition?\nNntp-Posting-Host: accord2\nOrganization: Motorola Inc., Cellular Infrastructure Group\nLines: 48\n\n\n>>Is there such a thing as MSG (monosodium glutamate) sensitivity?\n>>Superstition. Anybody here have experience to the contrary?\n>>\n \nAs a person who is very sensitive to msg and whose wife and kids are\ntoo, I WANT TO KNOW WHY THE FOOD INDUSTRY WANTS TO PUT MSG IN FOOD!!!\n\nSomebody in the industry GIVE ME SOME REASONS WHY!  \n\nIS IT AN INDUSTRIAL BYPRODUCT THAT NEEDS GETTING GET RID OF?\n\nIS IT TO COVER UP THE FACT THAT THE RECIPES ARE NOT VERY GOOD OR THE FOOD IS POOR QUALITY?\n\nDO SOME OF YOU GET A SADISTIC PLEASURE OUT OF MAKING SOME OF US SICK?\n\nDO THE TASTE TESTERS HAVE SOME DEFECT IN THEIR FLAVOR SENSORS (MOUTH etc...)\n  THAT MSG CORRECTS?\n\nI REALLY DON'T UNDERSTAND!!!\n\nALSO ... Nitrosiamines (sp) and sulfites...   Why them?  There are\n safer ways to preserve food, wines, and beers!\n\nI think \n1) outlaw the use of these substances without warning labels as\nlarge as those on cig. packages.\n2) Require 30% of comparable products on the market to be free of these\nsubstances and state that they are free of MSG, DYES, NITROSIAMINES and SULFITES on the package.\n3) While at it outlaw yellow dye #5.  For that matter why dye food?  \n4) Take the dyes and flavorings out of vitamins.  (In my OSCO only Stress\nTabs (tm) didn't have yellow dye #5)  { My doctor says Yellow Dye #5 is\nresponsible for 1/2 of all nasal polyps !!! }\n\nKEEP FOOD FOOD!  QUIT PUTTING IN JUNK!\n\nJUST MY TWO CENTS WORTH.\n\nSig:  A person tired of getting sick from this junk!\n\n-- \nWalter Lundby\n\n\n\n-- \nWalter Lundby\n\n",
       "From: dougb@comm.mot.com (Doug Bank)\nSubject: Do we need a Radiologist to read an Ultrasound?\nReply-To: dougb@ecs.comm.mot.com\nOrganization: Motorola Land Mobile Products Sector\nNntp-Posting-Host: 145.1.146.35\nLines: 28\n\nMy wife's ob-gyn has an ultrasound machine in her office.  When\nthe doctor couldn't hear a fetal heartbeat (13 weeks) she used\nthe ultrasound to see if everything was ok.  (it was)\n\nOn her next visit, my wife asked another doctor in the office if\nthey read the ultrasounds themselves or if they had a radiologist\nread the pictures.  The doctor very vehemently insisted that they\nwere qualified to read the ultrasound and radiologists were NOT!\n\nMy wife is concerned about this.  She saw a TV show a couple months\nback (something like 20/20 or Dateline NBC, etc.) where an expert\non fetal ultrasounds (a radiologist) was showing all the different\ndeffects that could be detected using the ultrasound.\n\nShould my wife be concerned?  Should we take the pictures to a \nradiologist for a second opinion? (and if so, where would we find\nsuch an expert in Chicago?)  We don't really have any special medical\nreason to be concerned, but if a radiologist will be able to see\nthings the ob-gyn can't, then I don't see why we shouldn't use one.\n\nAny thoughts?\n\n\n-- \nDoug Bank                       Private Systems Division\ndougb@ecs.comm.mot.com          Motorola Communications Sector\ndougb@nwu.edu                   Schaumburg, Illinois\ndougb@casbah.acns.nwu.edu       708-576-8207                    \n",
       'From: flb@flb.optiplan.fi ("F.Baube[tm]")\nSubject: Vandalizing the sky\nX-Added: Forwarded by Space Digest\nOrganization: [via International Space University]\nOriginal-Sender: isu@VACATION.VENARI.CS.CMU.EDU\nDistribution: sci\nLines: 12\n\nFrom: "Phil G. Fraering" <pgf@srl03.cacs.usl.edu>\n> \n> Finally: this isn\'t the Bronze Age, [..]\n> please try to remember that there are more human activities than\n> those practiced by the Warrior Caste, the Farming Caste, and the\n> Priesthood.\n\nRight, the Profiting Caste is blessed by God, and may \n freely blare its presence in the evening twilight ..\n\n-- \n* Fred Baube (tm)\n',
       'From: nsmca@aurora.alaska.edu\nSubject: Space Design Movies?\nArticle-I.D.: aurora.1993Apr23.124722.1\nOrganization: University of Alaska Fairbanks\nLines: 11\nNntp-Posting-Host: acad3.alaska.edu\n\nIs there a few Grasp pictures of space related items, namely Space Station\nDesigns, so you can see the "finished" revolt around..\n\nIf you don\'t know what a grasp prograsm is.. Check out some adult entertainment\nfiles and see what I mean.. Or maybe geta few GIF files and create a "slide\nshows" (I think Cshow can do this).. \n\nI liek to be able to see a space shuttle design in a AutoCAD program or to see\nit revolt around and look at it.\n==\nMichael Adams, nsmca@acad3.alaska.edu -- I\'m not high, just jacked\n',
       'From: c23st@kocrsv01.delcoelect.com (Spiros Triantafyllopoulos)\nSubject: Re: Space Station radio commercial\nOrganization: Delco Electronics Corp.\nLines: 25\n\nIn article <C5r2I1.793@skates.gsfc.nasa.gov> xrcjd@resolve.gsfc.nasa.gov (Charles J. Divine) writes:\n>A brief political/cultural item.\n>\n>Radio station WGMS in Washington is a classical music station with\n>a large audience among high officials (elected and otherwise).  \n>Imagine a radio station that advertises Mercedes Benzes, diamond\n>jewelry, expensive resorts and (truthfully) Trident submarines.\n>\n>This morning I heard a commercial for the space station project.\n>Didn\'t catch the advertiser.\n>\n>Guess they\'re pulling out all the stops.\n\nIn the Air Force world at least, the crisis escalates when scale\nmodels of the plane in question (i.e. about to be sacrificed) begin to\narrive in key Senators and Congresspersons\' offices.\n\nOf course it is assumed that coffee mugs and other decorative junk has\nbeen tried earlier.\n\nSpiros\n-- \nSpiros Triantafyllopoulos                    c23st@kocrsv01.delcoelect.com\nSoftware Technology, Delco Electronics       (317) 451-0815\nGM Hughes Electronics, Kokomo, IN 46904      "I post, therefore I ARMM"\n',
       'From: pgf@srl03.cacs.usl.edu (Phil G. Fraering)\nSubject: Re: Griffin / Office of Exploration: RIP\nOrganization: Univ. of Southwestern Louisiana\nLines: 43\n\nyamauchi@ces.cwru.edu (Brian Yamauchi) writes:\n\n>Any comments on the absorbtion of the Office of Exploration into the\n>Office of Space Sciences and the reassignment of Griffin to the "Chief\n>Engineer" position?  Is this just a meaningless administrative\n>shuffle, or does this bode ill for SEI?\n\n>In my opinion, this seems like a Bad Thing, at least on the surface.\n>Griffin seemed to be someone who was actually interested in getting\n>things done, and who was willing to look an innovative approaches to\n>getting things done faster, better, and cheaper.  It\'s unclear to me\n>whether he will be able to do this at his new position.\n\n>Does anyone know what his new duties will be?\n\nFirst I\'ve heard of it. Offhand:\n\nGriffin is no longer an "office" head, so that\'s bad.\n\nOn the other hand:\n\nRegress seemed to think: we can\'t fund anything by Griffin, because\nthat would mean (and we have the lies by the old hardliners about the\n$ 400 billion mars mission to prove it) that we would be buying into a\nmission to Mars that would cost 400 billion. Therefore there will be\nno Artemis or 20 million dollar lunar orbiter et cetera...\n\nThey were killing Griffin\'s main program simply because some sycophants\nsomewhere had Congress beleivin that to do so would simply be to buy into\nthe same old stuff. Sorta like not giving aid to Yeltsin because he\'s\na communist hardliner.\n\nAt least now the sort of reforms Griffin was trying to bring forward\nwon\'t be trapped in their own little easily contained and defunded\nghetto. That Griffin is staying in some capacity is very very very\ngood. And if he brings something up, noone can say "why don\'t you go\nback to the OSE where you belong" (and where he couldn\'t even get money\nfor design studies).\n--\nPhil Fraering         |"Seems like every day we find out all sorts of stuff.\npgf@srl02.cacs.usl.edu|Like how the ancient Mayans had televison." Repo Man\n\n\n',

### Exercise 2.1

Code your own TF-IDF representation function and use it on this dataset. (Don't use code from libraries. Build your own function with Numpy/Pandas). Use the formular TFIDF = TF * (IDF+1). The effect of adding â€œ1â€ to the idf in the equation above is that terms with zero idf, i.e., terms that occur in all documents in a training set, will not be entirely ignored. The term frequency is the raw count of a term in a document. The inverse document frequency is the natural logarithm of the inverse fraction of the documents that contain the word.

In [221]:
from sklearn.feature_extraction.text import CountVectorizer
countvec = CountVectorizer()
df = pd.DataFrame(countvec.fit_transform(data).toarray(), columns=countvec.get_feature_names_out())
df

,02,041300,07,0815,10,101,10511,11,115397,12,...,yellow,yeltsin,yet,you,young,younger,your,z3,zeta,zeus
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,5,0,0,2,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,3,0,0,1,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,1,0,0,...,0,0,0,2,0,0,0,0,0,0
12,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,1,0,2,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
15,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,0,1,0,0,0,1,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
18,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,1,0,...,0,0,1,1,0,0,0,0,0,1

In [112]:
import warnings
warnings.filterwarnings('ignore')

### Version 1: calculating tf does not work

In [232]:
def tfidf(df):
    # term frequency
    term_count = df.sum(axis=1)
    term_count = df.sum(axis=1)
    tf = df.div(term_count, axis = 0)
    
    # number of documents that contain term
    doc_num_contains = df[df > 0].count()
    
    # total number of documents in data set
    doc_count = df.shape[0]
    
    # idf following formula from class 
    idf = np.log(doc_count/doc_num_contains)
          
    tfidf = tf * (idf + 1)
    
    return(tfidf)

### Version 2: calculation with initial df works?

In [229]:
def tfidf(df):
    # term frequency
    term_count = df.sum(axis=1)
    term_count = df.sum(axis=1)
    tf = df.div(term_count, axis = 0)
    
    # number of documents that contain term
    doc_num_contains = df[df > 0].count()
    
    # total number of documents in data set
    doc_count = df.shape[0]
    
    # idf following formula from class 
    idf = np.log(doc_count/doc_num_contains)
          
    tfidf = tf * (idf + 1)
    
    return(tfidf)

In [230]:
tfidf(df)

,02,041300,07,0815,10,101,10511,11,115397,12,...,yellow,yeltsin,yet,you,young,younger,your,z3,zeta,zeus
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.995732,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.302585,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,3.302585,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,8.992538,0.000000,0.000000,7.991465,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,3.995732,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.798508,3.302585,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.987197,0.000000,0.000000,1.798508,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.995732,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.302585,0.000000,0.000000,...,0.000000,0.000000,0.000000,3.597015,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,3.995732,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,3.995732,0.000000,3.597015,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,3.597015,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,3.995732,0.000000,3.995732,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.995732,3.995732,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.302585
17,0.000000,3.995732,0.000000,0.000000,0.000000,3.995732,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,3.597015,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.995732,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.798508,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.995732,0.000000,...,0.000000,0.000000,3.995732,1.798508,0.000000,0.000000,0.000000,0.000000,0.000000,3.302585

In [231]:
from sklearn.feature_extraction.text import CountVectorizer
countvec = CountVectorizer()
df = pd.DataFrame(countvec.fit_transform(data).toarray(), columns=countvec.get_feature_names_out())
# row = instance
    
rep = tfidf(df)

# Check if your implementation is correct
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(norm=None, smooth_idf=False, use_idf=True)
X_train = pd.DataFrame(vectorizer.fit_transform(data).toarray(), columns=countvec.get_feature_names_out())
answer=['No','Yes']
epsilon = 0.0001
if rep is None: 
  print (f'Is this implementation correct?\nAnswer: {answer[0]}')
if rep is not None:
  print (f'Is this implementation correct?\nAnswer: {answer[1*np.all((X_train - rep) < epsilon)]}')

Is this implementation correct?
Answer: Yes

In [192]:
#def tfidf(df):
#    
#    tf = df.sum()
#    
#    denomIdf = df[df > 0].count()
#    
#    totDocs = df.shape[0]
#    
#    idf = np.log(totDocs/denomIdf)
#    
#    test = df.where(df < 1, 1)
#        
#    return(df * (test * (idf +1)))
#    
#tfidf(df)

In [199]:
# an example of what to do with these similarities:


# analysis with tf-idf
from sklearn.metrics.pairwise import cosine_similarity

similiarities = cosine_similarity(rep, rep) # measure of the similarity of the direction of two vectors

In [200]:
np.fill_diagonal(similiarities, 0)
max_ind = np.unravel_index(similiarities.argmax(), similiarities.shape)
similiarities[max_ind] # highest similarity of two documents

0.3182784779118088